name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: self-hosted

    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v4

    - uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/196053730058/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
        service_account: "github-runner-sa@internal-sandbox-446612.iam.gserviceaccount.com"

    - uses: google-github-actions/setup-gcloud@v2

    - uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: secure-cluster
        location: asia-south1-a

    - run: |
        gcloud auth configure-docker asia-south1-docker.pkg.dev

    - run: |
        docker build -t asia-south1-docker.pkg.dev/internal-sandbox-446612/cloudambassadors-repo/app:${{ github.sha }} .
        docker push asia-south1-docker.pkg.dev/internal-sandbox-446612/cloudambassadors-repo/app:${{ github.sha }}

    - run: |
        kubectl set image deployment/cloudambassadors-app app=asia-south1-docker.pkg.dev/internal-sandbox-446612/cloudambassadors-repo/app:${{ github.sha }}
        kubectl rollout status deployment/cloudambassadors-app
